<div class="container">
  <h1> <%= @cocktail.name %> Recipe</h1>
    <h3>
      Ingredients:
    </h3>

    <div class="row">
      <% @cocktail.doses.each do |dose| %>
      <div class= "col-xs-12 col-sm-4 col-md-3">
        <%= dose.ingredient.name %> | <%= dose.description %>
        <%= link_to "🗑", dose_path(dose),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
      </div>
      <% end %>
    </div>
  </div>
  <div>
    <hr>
    <div class="row">
      <div class= "col-xs-8 col-xs-offset-2">
        <%= render 'doses/form', cocktail: @cocktail, dose: @dose %>
        <hr>
      </div>
    </div>
  </div>
</div>
